arrayfire==3.8.0
asteval==0.9.29
astropy==5.1
cached-property==1.5.2
cloudpickle==2.2.1
cocos==0.2.2
colorama==0.4.6
contexttimer==0.3.3
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
distro==1.8.0
exceptiongroup==1.1.1
fonttools==4.39.4
future==0.18.3
iniconfig==2.0.0
kiwisolver==1.4.4
llvmlite==0.40.0
lmfit==1.2.1
loky==3.4.0
matplotlib==3.7.0
mpmath==1.3.0
multiprocess==0.70.14
numba==0.57.0
numpy==1.23.5
packaging==23.1
pandas==1.5.3
pathos==0.3.0
Pillow==9.5.0
pluggy==1.0.0
pox==0.3.2
ppft==1.7.6.6
pyerfa==2.0.0.3
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pytest==7.3.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
recombinator==0.0.6.1
scikit-build==0.17.6
scipy==1.10.1
six==1.16.0
sympy==1.12
tomli==2.0.1
uncertainties==3.1.7
